[submodule "lihan_code/DQN_v2_pre_train/Env"]
	path = lihan_code/DQN_v2_pre_train/Env
	url = git@github.com:shooter-squad/Env.git
	branch = no-shield-and-ultimate-ability
	update = rebase
[submodule "lihan_code/DQN_v2_scratch/Env"]
	path = lihan_code/DQN_v2_scratch/Env
	url = git@github.com:shooter-squad/Env.git
	branch = master
	update = rebase
[submodule "lihan_code/DQN_v1/Env"]
	path = lihan_code/DQN_v1/Env
	url = git@github.com:shooter-squad/Env.git
	branch = classic
	update = rebase
[submodule "lihan_code/DQN_v1.5_pre_train/Env"]
	path = lihan_code/DQN_v1.5_pre_train/Env
	url = git@github.com:shooter-squad/Env.git
	branch = no-shield-and-ultimate-ability
	update = rebase
